.activity-icon-container{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--red);
}

.activity-icon-container .activity-icon{
    width: 45px;
    height: 45px;
    position: absolute;
    object-fit:cover;
    border-radius: 50%;
}

.activity-icon-container-small{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--red);
}

.activity-icon-container-small .activity-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    object-fit:cover;
    border-radius: 50%;
}

.activity-icon-container-margin{
    margin-left: 10px;
}

.gray-cell{
    background-color: var(--gray);
}

.green-cell{
    background-color: var(--green);
}

.red-cell{
    background-color: var(--red);
}