#collapsible {
    display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  background: var(--secondary-color);

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background: var(--background-color);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  width: 0px;
  overflow-y: scroll;

  transition: all .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 250px;
  width: 100%;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.wrap-collapsible{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 35%;
}

.collapsible-container{
  display: flex;
  justify-content: flex-end;
}

.wrap-collapsible{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.inner-input-wrapper{
  width: 100%;
}

.inner-input{
  width: 80%;
}

.inner-submit{
  width: 20%;
}

.user-message{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.user-message .message{
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
}

.bot-message .message{
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  background-color: var(--lighter-gray);
  border-radius: var(--border-radius);
}
