.day-strike-checkbox{
    background-color: rgb(162, 162, 162);
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.day-string{
    font-weight: 600;
    color: black;
}

.is-checked{
    background: url('../assets/check-mark.png');
    background-size: cover;
    background-color: white;
    border-radius: 50%;
}

.is-today{
    background-color: var(--light-gray);
    border-radius: 50%;
}
