.checkbox-effect-6:not(:checked) + label:before,
.checkbox-effect-6:checked + label:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 2px solid green;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 20px;
}

.checkbox-effect-6:not(:checked) + label:after,
.checkbox-effect-6:checked + label:after {
  content: "\f00c";
  display: flex;
  height: 100%;
  align-items:center;
  color: black;
  text-shadow: 0px -1px 0px #fff;
  transform-origin: center center;
}