.main-view{
    height: 60%;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    box-shadow: inset 0px 27px 15px -30px var(--primary-color)
}

.left-main-view {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-main-view {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.roulette-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.shop-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}