:root {
    --white: #ffffff;
    --black: #000000;
    --light-gray: #929292;
    --primary-color: #272884;
    --secondary-color: #ffaf1b;
    --third-color: #277c84;
    --medium-red: #b54435;
    --background-color: rgb(226, 221, 252);
}