:root {
    --white: #ffffff;
    --black: #000000;
    --light-gray: #929292;
    --primary-color: #272884;
    --secondary-color: #ffaf1b;
    --third-color: #383838;
    --background-color: #e3defc;
    --red: #da0000;
    --green: #14b103;
    --gray: #727272;
}