.splash-screen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.splash-screen-text{
    color: var(--white);
}

.splash-screen-title{
    font-size: 120px;
    position: relative;
    margin-bottom: 40px;
}

.splash-screen-title span{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: inline-block;
    color: var(--white);
    letter-spacing: 10px;
    animation: waveAnim 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

.logo-container{
    width: 200px;
    height: 200px;
    border: 4px solid var(--black);
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.logo{
    width: 100%;
    height: 100%;
}

@keyframes waveAnim {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-70px);
    }
}